<h1>All Blocks</h1>
<nz-table
  #allBlocks
  [nzData]="allBlocks$ | async"
  [nzShowPagination]="true"
  [nzLoading]="isLoading"
  [nzFrontPagination]="false"
  (nzPageIndexChange)="navigate($event, pageSize)"
  (nzPageSizeChange)="navigate(1, $event)"
  [nzTotal]="total$ | async"
  [nzShowSizeChanger]="true"
  [nzShowQuickJumper]="true"
  class="m-b-25"
>
  <thead>
    <tr>
      <th>Number</th>
      <th>Transactions</th>
      <th>Size</th>
      <th>Gas Limit</th>
      <th>Gas Used</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let data of allBlocks.data">
      <tr>
        <td>{{ data.number }}</td>
        <td>{{ data.transactions.length }}</td>
        <td>{{ data.size }}</td>
        <td>{{ data.gasLimit }}</td>
        <td>{{ data.gasUsed }}</td>
        <td>{{ data.timestamp | date: 'short' }}</td>
      </tr>
    </ng-container>
  </tbody>
</nz-table>
