<h1>Latest Blocks</h1>
<nz-table #recentBlocks [nzData]="recentBlocks$ | async" [nzShowPagination]="false" [nzLoading]="isLoading" class="m-b-25">
  <thead>
    <tr>
      <th>Number</th>
      <th>Transactions</th>
      <th>Size</th>
      <th>Gas Limit</th>
      <th>Gas Used</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let data of recentBlocks.data">
      <tr [ngClass]="{ new: data.new }" [routerLink]="['block', data.number]" style="cursor: pointer;">
        <td>{{ data.number }}</td>
        <td>{{ data.transactions.length }}</td>
        <td>{{ data.size }}</td>
        <td>{{ data.gasLimit }}</td>
        <td>{{ data.gasUsed }}</td>
        <td>{{ data.timestamp | date: 'medium' }}</td>
      </tr>
    </ng-container>
  </tbody>
</nz-table>
