<nz-descriptions [nzTitle]="'Block Info #' + (block$ | async)?.number" nzBordered [nzColumn]="1">
  <nz-descriptions-item *ngFor="let item of blockDisplay$ | async" [nzTitle]="item.title">
    <div class="data-col">{{ item.data }}</div>
  </nz-descriptions-item>
</nz-descriptions>
<nz-descriptions nzTitle="Transactions" nzBordered [nzColumn]="1"> </nz-descriptions>
<nz-table
  #transactionsTable
  [nzData]="(block$ | async)?.transactions"
  nzFrontPagination
  nzShowPagination
  [nzPageSize]="10"
  [nzShowSizeChanger]="true"
>
  <thead>
    <tr>
      <th>Transaction Hash</th>
      <th>From</th>
      <th>To</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let data of transactionsTable.data">
      <tr>
        <td class="wb-b-a">
          <a>{{ data.hash }}</a>
        </td>
        <td class="wb-b-a">
          {{ data.from }}
        </td>
        <td class="wb-b-a">
          {{ data.to }}
        </td>
      </tr>
    </ng-container>
  </tbody>
</nz-table>
