<nz-descriptions [nzTitle]="'Block Info #' + (block$ | async)?.number" nzBordered [nzColumn]="1">
  <nz-descriptions-item *ngFor="let item of blockDisplay$ | async" [nzTitle]="item.title">
    <div class="data-col">
      <ng-container *ngIf="item.linkVal; else notLink"
        ><a [routerLink]="[item.linkVal]">{{ item.data }}</a></ng-container
      ><ng-template #notLink>{{ item.data }}</ng-template>
    </div>
  </nz-descriptions-item>
</nz-descriptions>
<nz-descriptions nzTitle="Transactions" nzBordered [nzColumn]="1"> </nz-descriptions>
<nz-table
  #transactionsTable
  [nzData]="(block$ | async)?.transactions"
  nzFrontPagination
  nzShowPagination
  [nzPageSize]="10"
  [nzShowSizeChanger]="true"
>
  <thead>
    <tr>
      <th>Transaction Hash</th>
      <th>From</th>
      <th>To</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let data of transactionsTable.data">
      <tr>
        <td class="wb-b-a">
          <a>{{ data.hash }}</a>
        </td>
        <td class="wb-b-a">
          <a [routerLink]="['/address', data.from]"> {{ data.from }}</a>
        </td>
        <td class="wb-b-a">
          <a [routerLink]="['/address', data.to]"> {{ data.to }}</a>
        </td>
      </tr>
    </ng-container>
  </tbody>
</nz-table>
